/* App.css */
#dynamic-text{
 

 font-family: "Jaro", serif;
 font-optical-sizing: auto;
 font-weight: 800;
 font-style: normal;
 font-size: 2.5rem;
 color: #F05032;
 text-align: center;
 margin-top: 50px;
 margin-bottom: 50px;


}
.nav-links button{
width: auto;
border-radius: 15px;
margin: 0px 0px;
flex-direction: column;
position:relative;
margin-top: -60px;
padding: 5px 30px;
border: 2px solid whitesmoke;

}
.nav-links button {
 
transition: background-color 0.5s; 
}

.main-nav button:hover {

 background-color: #096cff; 
}

button:not(:last-child){
 margin-right: 5px;
 margin-left:5px;
}
.nav-links {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top:70px;
 margin-bottom: 30px;
}
.main-nav{
 position: fixed;
align-items: center;
background-color:#339933;
justify-content: center;
width: 100%;


}








body {
    margin: 0;
    font-family: Arial, sans-serif;
}



